*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 100px 0px;
    background-color: #212529;
    color: white;
}
.link {
    margin: 10px;
    color: white;
    text-decoration: none;
}
.entrance {
    background-color: #212529;
    color: rgb(255, 255, 255);
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headEntrance {
    font-size: 3rem;
    font-weight: 900;
}
#notifications {
    font-size: 1rem;
}
.eImg {
    width: 800px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("imgs/hats.jpeg");

}
.entranceImg {
    width: 500px;
}
.featured {
    display: flex;
    justify-content: space-evenly;
}
.features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.features > img {
    width: 150px;
    display: flex;

}
.featureH1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 3rem;
    color: #212529;
}
footer {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    height: 80px;
    margin-top: 12em;
    padding: 0px, 10px, auto;
    background-color: #212529;
    color: white;
  }

  .footerlinks > a {
    color: white;
  }

  .footerlinks {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    text-decoration: none;
    margin: 2px;
  }